.column.is-one-third-desktop.is-half-tablet
    .card
        .card-header
            p.card-header-title.is-size-2.has-text-black.is-centered= boardCardTitle[id-1]
        .card-content
            .columns
                .column
                    p.subtitle.has-text-black.is-size-4 錢包：
                        span(id="wallet_" + id) 0
                .column
                    p.subtitle.has-text-black.is-size-4 銀行：
                        span(id="bank_" + id) 0