doctype
html(lang="zh-Hant-TW")
    head
        //General
        include ../../sub/general
        //JavaScript
        script(src="index.js")
    body
        section.hero.is-fullheight.is-primary
            .hero-body
                .container.has-text-centered
                    .columns.is-multiline.is-centered
                        - id=1;
                        include ../../sub/board-column
                        - id=2;
                        include ../../sub/board-column
                        - id=3;
                        include ../../sub/board-column
                        - id=4;
                        include ../../sub/board-column
                        - id=5;
                        include ../../sub/board-column